<!DOCTYPE html>
<html>
<head>
    <title>Toys and Karts</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>🧸 Toys and Karts</h1>
<p style="text-align:center;">Order toys online easily</p>

<div class="container">

<a href="/category/toys"><button>Toys</button></a><br><br>
<a href="/category/gifts"><button>Gifts</button></a><br><br>
<a href="/category/home"><button>Home Needs</button></a><br><br>
<a href="/category/electronics"><button>Electronics</button></a>

</div>

</body>
</html>
